﻿@model EasyTravel.Database.Ride

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ride</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PeakFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeakFactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DropoffLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropoffLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DropoffLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropoffLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RideState.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RideState.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RideType.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RideType.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
