﻿@model IEnumerable<EasyTravel.Database.Ride>

@{
    ViewBag.Title = "Rides";
}

<h2>Rides</h2>

<p>
    @*@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-lg" })*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PeakFactor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupLongitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupLatitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropoffLongitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropoffLatitude)
        </th>
        <th>
            Passenger
        </th>
        <th>
            Driver
        </th>
        <th>
            Ride State
        </th>
        <th>
            Ride Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PeakFactor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupLongitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupLatitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropoffLongitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropoffLatitude)
        </td>
        <td>
            @(item.AspNetUser.FirstName + " " + item.AspNetUser.LastName)
        </td>
        <td>
            @(item.Driver.AspNetUser.FirstName + " " + item.Driver.AspNetUser.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RideState.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RideType.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
