﻿@model EasyTravel.Database.Driver

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DrivingLicenseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrivingLicenseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleLicensePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleLicensePlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CnicNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CnicNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreDocumentsVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreDocumentsVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
