﻿@model IEnumerable<EasyTravel.Database.Driver>

@{
    ViewBag.Title = "Drivers";
}

<h2>Drivers</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CnicNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrivingLicenseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleLicensePlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.AreDocumentsVerified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.FirstName) @Html.DisplayFor(modelItem => item.AspNetUser.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CnicNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrivingLicenseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleLicensePlate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreDocumentsVerified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
